<section id="about" class="about">
  <div class="container">
    <p class="about-disclaimer">
      BESTGREATSTART.COM IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF
      WINNING PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME AS WINNING IN REAL
      LIFE GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE.
      ENJOY PLAYING THIS GAME!
    </p>
    <h2 class="about-title">About the Game</h2>
    <div class="about-content">
      <p class="about-text">
        Brain Test: Tricky Puzzles is a captivating mental challenge that brings
        a series of interactive puzzles and riddles designed to test and improve
        your cognitive abilities. This game turns conventional puzzle-solving on
        its head with its unique, creative, and often humorous approach to logic
        puzzles.
      </p>
      <picture>
        <source
          media="(min-width:320px)"
          srcset="
            ./img/about-sect-schedule-mob.png    1x,
            ./img/about-sect-schedule-mob@2x.png 2x
          "
        />
        <source
          media="(min-width:1440px)"
          srcset="
            ./img/about-sect-schedule-web.png    1x,
            ./img/about-sect-schedule-web@2x.png 2x
          "
        />
        <img
          src="./img/about-sect-schedule-mob.png"
          alt="schedule"
          loading="lazy"
        />
      </picture>
      <p class="about-text">
        Each level presents a fresh challenge that requires unconventional
        thinking to solve, making it an excellent tool for brain training. The
        gameplay is simple yet addictive, encouraging players to think outside
        the box and solve puzzles that range from straightforward to deceptively
        challenging. With its playful graphics and engaging content, Brain Test
        offers a delightful way to enhance your mental flexibility and
        problem-solving skills.
      </p>
      <picture>
        <source
          media="(min-width:320px)"
          srcset="
            ./img/about-sect-categories-mob.png    1x,
            ./img/about-sect-categories-mob@2x.png 2x
          "
        />
        <source
          media="(min-width:1440px)"
          srcset="
            ./img/about-sect-categories-web.png    1x,
            ./img/about-sect-categories-web@2x.png 2x
          "
        />
        <img
          src="./img/about-sect-categories-mob.png"
          alt="schedule"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
