<section class="container how-play-wrap">
  <h2 class="advantages-title">Advantages</h2>
  <div class="how-play-info-wrap">
    <ul>
      <li>Enhances problem-solving skills with unique challenges</li>
      <li>Offers a fun and engaging way to train your brain</li>
      <li>Features a wide variety of puzzles that prevent monotony</li>
      <li>Interactive gameplay that keeps players engaged</li>
      <li>Suitable for all ages and promotes family-friendly fun</li>
      <li>Regular updates provide new puzzles and continuous challenges</li>
      <li>User-friendly interface and easy-to-navigate design</li>
      <li>
        Free to play, with optional in-app purchases to enhance the experience
      </li>
    </ul>
    <picture>
      <source
        srcset="../img/advantages-mob.png 1x, ../img/advantages-mob-2x.png 2x"
        media="(max-width: 1439px)"
      />
      <source
        srcset="../img/advantages-web.png 1x, ../img/advantages-web-2x.png 2x"
        media="(min-width: 1440px)"
      />
      <img src="../img/advantages-mob.png" />
    </picture>
  </div>
</section>
