<section id="faq" class="how-play-wrap">
  <h2 class="faq-title">FAQ</h2>
  <ul class="faq-list">
    <li class="faq-item">
      <h3 class="question">
        Is this game suitable for children?
        <svg
          width="14"
          height="11"
          class="faq-icon"
          viewBox="0 0 14 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7.67149 9.8445C7.47214 10.1245 7.05618 10.1245 6.85683 9.8445L0.826508 1.37334C0.590871 1.04232 0.827522 0.583374 1.23384 0.583374H13.2945C13.7008 0.583374 13.9374 1.04233 13.7018 1.37334L7.67149 9.8445Z"
            fill="#F5F5F5"
          />
        </svg>
      </h3>
      <p class="answer">Absolutely, it’s designed to be fun for all ages</p>
    </li>
    <li class="faq-item">
      <h3 class="question">
        How often are new puzzles added?
        <svg
          width="14"
          height="11"
          class="faq-icon"
          viewBox="0 0 14 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7.67149 9.8445C7.47214 10.1245 7.05618 10.1245 6.85683 9.8445L0.826508 1.37334C0.590871 1.04232 0.827522 0.583374 1.23384 0.583374H13.2945C13.7008 0.583374 13.9374 1.04233 13.7018 1.37334L7.67149 9.8445Z"
            fill="#F5F5F5"
          />
        </svg>
      </h3>
      <p class="answer">New puzzles are added regularly through updates.</p>
    </li>
    <li class="faq-item">
      <h3 class="question">
        Is the game free?
        <svg
          width="14"
          height="11"
          class="faq-icon"
          viewBox="0 0 14 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7.67149 9.8445C7.47214 10.1245 7.05618 10.1245 6.85683 9.8445L0.826508 1.37334C0.590871 1.04232 0.827522 0.583374 1.23384 0.583374H13.2945C13.7008 0.583374 13.9374 1.04233 13.7018 1.37334L7.67149 9.8445Z"
            fill="#F5F5F5"
          />
        </svg>
      </h3>
      <p class="answer">
        Yes, Brain Test is free to play, though it offers in-app purchases.
      </p>
    </li>
    <li class="faq-item">
      <h3 class="question">
        Can I play without internet?
        <svg
          width="14"
          height="11"
          class="faq-icon"
          viewBox="0 0 14 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7.67149 9.8445C7.47214 10.1245 7.05618 10.1245 6.85683 9.8445L0.826508 1.37334C0.590871 1.04232 0.827522 0.583374 1.23384 0.583374H13.2945C13.7008 0.583374 13.9374 1.04233 13.7018 1.37334L7.67149 9.8445Z"
            fill="#F5F5F5"
          />
        </svg>
      </h3>
      <p class="answer">Yes, you can play most levels offline.</p>
    </li>
    <li class="faq-item">
      <h3 class="question">
        Are there any ads?
        <svg
          width="14"
          height="11"
          class="faq-icon"
          viewBox="0 0 14 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7.67149 9.8445C7.47214 10.1245 7.05618 10.1245 6.85683 9.8445L0.826508 1.37334C0.590871 1.04232 0.827522 0.583374 1.23384 0.583374H13.2945C13.7008 0.583374 13.9374 1.04233 13.7018 1.37334L7.67149 9.8445Z"
            fill="#F5F5F5"
          />
        </svg>
      </h3>
      <p class="answer">
        Yes, the game contains ads, but they can be removed with an in-app
        purchase.
      </p>
    </li>
    <li class="faq-item">
      <h3 class="question">
        Can I play on multiple devices?
        <svg
          width="14"
          height="11"
          class="faq-icon"
          viewBox="0 0 14 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7.67149 9.8445C7.47214 10.1245 7.05618 10.1245 6.85683 9.8445L0.826508 1.37334C0.590871 1.04232 0.827522 0.583374 1.23384 0.583374H13.2945C13.7008 0.583374 13.9374 1.04233 13.7018 1.37334L7.67149 9.8445Z"
            fill="#F5F5F5"
          />
        </svg>
      </h3>
      <p class="answer">
        Yes, you can sync your game across multiple devices using social login
        features.
      </p>
    </li>
  </ul>
</section>
