<section id="faq" class="container how-play-wrap">
  <h2 class="faq-title">FAQ</h2>
  <ul class="faq-list">
    <li class="faq-item">
      <h3 class="question">Is this game suitable for children?</h3>
      <p class="answer">Absolutely, it’s designed to be fun for all ages</p>
    </li>
    <li class="faq-item">
      <h3 class="question">How often are new puzzles added?</h3>
      <p class="answer">New puzzles are added regularly through updates.</p>
    </li>
    <li class="faq-item">
      <h3 class="question">Is the game free?</h3>
      <p class="answer">
        Yes, Brain Test is free to play, though it offers in-app purchases.
      </p>
    </li>
    <li class="faq-item">
      <h3 class="question">Can I play without internet?</h3>
      <p class="answer">Yes, you can play most levels offline.</p>
    </li>
    <li class="faq-item">
      <h3 class="question">Are there any ads?</h3>
      <p class="answer">
        Yes, the game contains ads, but they can be removed with an in-app
        purchase.
      </p>
    </li>
    <li class="faq-item">
      <h3 class="question">Can I play on multiple devices?</h3>
      <p class="answer">
        Yes, you can sync your game across multiple devices using social login
        features.
      </p>
    </li>
  </ul>
</section>
