<section id="faq" class="how-play-wrap">
  <h2 class="faq-title">FAQ</h2>
  <ul class="faq-list">
    <li class="faq-item">
      <h3 class="question">
        Is this game suitable for children?
        <svg class="faq-icon" width="14" height="10">
          <use href="./img/symbol-defs.svg#arrow-faq"></use>
        </svg>
      </h3>
      <p class="answer">Absolutely, it’s designed to be fun for all ages</p>
    </li>
    <li class="faq-item">
      <h3 class="question">
        How often are new puzzles added?
        <svg class="faq-icon" width="14" height="10">
          <use href="./img/symbol-defs.svg#arrow-faq"></use>
        </svg>
      </h3>
      <p class="answer">New puzzles are added regularly through updates.</p>
    </li>
    <li class="faq-item">
      <h3 class="question">
        Is the game free?
        <svg class="faq-icon" width="14" height="10">
          <use href="./img/symbol-defs.svg#arrow-faq"></use>
        </svg>
      </h3>
      <p class="answer">
        Yes, Brain Test is free to play, though it offers in-app purchases.
      </p>
    </li>
    <li class="faq-item">
      <h3 class="question">
        Can I play without internet?
        <svg class="faq-icon" width="14" height="10">
          <use href="./img/symbol-defs.svg#arrow-faq"></use>
        </svg>
      </h3>
      <p class="answer">Yes, you can play most levels offline.</p>
    </li>
    <li class="faq-item">
      <h3 class="question">
        Are there any ads?
        <svg class="faq-icon" width="14" height="10">
          <use href="./img/symbol-defs.svg#arrow-faq"></use>
        </svg>
      </h3>
      <p class="answer">
        Yes, the game contains ads, but they can be removed with an in-app
        purchase.
      </p>
    </li>
    <li class="faq-item">
      <h3 class="question">
        Can I play on multiple devices?
        <svg class="faq-icon" width="14" height="10">
          <use href="./img/symbol-defs.svg#arrow-faq"></use>
        </svg>
      </h3>
      <p class="answer">
        Yes, you can sync your game across multiple devices using social login
        features.
      </p>
    </li>
  </ul>
</section>
