<section id="gallery" class="container gallery-wrap">
  <h2>Gallery</h2>
  <p class="gallery-text">
    Dive deep into mind-bending puzzles with Brain Test! Challenge your
    intellect, stretch your creativity, and solve the unsolvable with over a
    hundred levels designed to push your cognitive skills to their limits. Every
    solution is a surprise, every question a delight—get ready to think outside
    the box like never before!
  </p>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture class="gallery-pict">
          <source
            srcset="
              ./img/gallery-first-mob.png    1x,
              ./img/gallery-first-mob-2x.png 2x
            "
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              ./img/gallery-first-web.png    1x,
              ./img/gallery-first-web-2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <img src="./img/gallery-first-mob.png" alt="Gallery image" />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./img/gallery-second-mob.png    1x,
              ./img/gallery-second-mob-2x.png 2x
            "
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              ./img/gallery-second-web.png    1x,
              ./img/gallery-second-web-2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <img src="./img/gallery-second-mob.png" alt="Gallery image" />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./img/gallery-third-mob.png    1x,
              ./img/gallery-third-mob-2x.png 2x
            "
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              ./img/gallery-third-web.png    1x,
              ./img/gallery-third-web-2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <img src="./img/gallery-third-mob.png" alt="Gallery image" />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./img/gallery-fourth-mob.png    1x,
              ./img/gallery-fourth-mob-2x.png 2x
            "
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              ./img/gallery-fourth-web.png    1x,
              ./img/gallery-fourth-web-2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <img src="./img/gallery-fourth-mob.png" alt="Gallery image" />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./img/gallery-fifth-mob.png    1x,
              ./img/gallery-fifth-mob-2x.png 2x
            "
            media="(max-width: 1439px)"
          />
          <source
            srcset="
              ./img/gallery-fifth-web.png    1x,
              ./img/gallery-fifth-web-2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <img src="./img/gallery-fifth-mob.png" alt="Gallery image" />
        </picture>
      </div>
    </div>
  </div>
  <a
    href="https://play.google.com/store/games"
    aria-label="google play"
    class="google-play gallery-google"
  ></a>
</section>
