<!-- <header class="header">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="./page-2.html" class="nav-link">Page 2</a>
      </li>

      <li class="nav-item">
        <a href="./page-3.html" class="nav-link">Page 3</a>
      </li>
    </ul>
  </nav>
</header> -->
<div class="background"></div>
<header class="header">
  <div class="container header-container">
    <!-- Шапка -->
    <div class="logo">
      <!-- <span>Logo</span> -->
      <img
        src="../img/logo.png"
        alt="logo"
        srcset="../img/logo.png 1x, ../img/logo-2x.png 2x"
      />
    </div>

    <!-- Меню сайта -->
    <nav class="nav">
      <ul>
        <li>Home</li>
        <li>Benefits</li>
        <li>About the Game</li>
        <li>How to Play</li>
        <li>Advantages</li>
        <li>FAQ</li>
        <li>Gallery</li>
      </ul>
    </nav>

    <!-- Иконка бургерменю -->
    <div class="burger">
      <span></span>
      <span></span>
    </div>
  </div>
</header>
