<!-- <div class="background"></div> -->

<header class="header">
  <div class="container header-wrap">
    <div class="header-container">
      <a href="/iq-masters" class="logo">
        <img
          src="/logo.png"
          alt="logo"
          srcset="/logo.png 1x, /logo@2x.png 2x"
        />
      </a>

      <!-- Menu -->
      <div class="hidden">
        <nav class="nav">
          <ul>
            <li><a href="/iq-masters">Home</a></li>
            <!-- <li><a href="/iq-masters/#benefits">Benefits</a></li> -->
            <li><a href="/iq-masters/#about">About the Game</a></li>
            <li><a href="/iq-masters/#how_to_play">How to Play</a></li>
            <li><a href="/iq-masters/#advantages">Advantages</a></li>
            <li><a href="/iq-masters/#faq">FAQ</a></li>
            <li><a href="/iq-masters/#gallery">Gallery</a></li>
          </ul>
        </nav>
      </div>
      <!-- Burger -->
      <div class="burger">
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
