<section id="how_to_play" class="container how-play-wrap">
  <h2 class="how-play-title">How to Play</h2>
  <div class="how-play-info-wrap">
    <ul>
      <li>
        Tap, swipe, and interact with objects on the screen to solve puzzles.
      </li>
      <li>
        Read each puzzle carefully—sometimes the solution is not what it seems.
      </li>
      <li>Use hints if you get stuck on a tricky level.</li>
      <li>
        Solve puzzles to progress through increasingly challenging levels.
      </li>
      <li>
        Look for clues and hidden items that can help you with the puzzles.
      </li>
      <li>Think creatively and outside the box to find the solutions.</li>
      <li>Enjoy the humorous situations and surprises each level presents.</li>
      <li>
        Keep the game updated to access new puzzles and features regularly.
      </li>
    </ul>
    <picture>
      <source
        srcset="
          ./img/how-play-sect-mob.png    1x,
          ./img/how-play-sect-mob-2x.png 2x
        "
        media="(max-width: 1439px)"
      />
      <source
        srcset="
          ./img/how-play-sect-web.png    1x,
          ./img/how-play-sect-web-2x.png 2x
        "
        media="(min-width: 1440px)"
      />
      <img
        src="./img/how-play-sect-mob.png"
        class="how-play-img"
        alt="screenshot of the game instruction"
      />
    </picture>
  </div>
</section>
