.gallery {
  background: radial-gradient(
    223% 20% at center,
    #a61aa1,
    #7e298c 20% 40%,
    #4b008780
  );
  background-size: auto calc(100% / 2);
}

.gallery-wrap {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
}

.gallery-text {
  font-weight: 500;
  padding: 10px;
}

.swiper-container {
  width: 100%;
  height: auto;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.swiper-slide {
  flex-shrink: 0;
  width: 320px;
}

.gallery-google {
  display: none;
}

@media screen and (min-width: 1440px) {
  .gallery {
    background: linear-gradient(180deg, #633074 0%, #5b2a83 30%);
    padding-top: 50px;
  }

  .gallery-google {
    display: block;
    margin-bottom: 30px;
  }

  .swiper-slide {
    width: 524px;
    flex: 0 0 calc(42% - 48px);
  }

  .swiper-wrapper {
    justify-content: flex-start;
  }
}
