.how-play-wrap {
  background-color: transparent;
}

.how-play-text {
  font-weight: 500;
}

.how-play-info-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.how-play-img {
  width: 244px;
  height: 446px;
}

@media screen and (min-width: 1440px) {
  .how-play-info-wrap {
    flex-direction: row;
    gap: 128px;
  }

  .how-play-img {
    width: 522px;
    height: 368px;
  }
}
