.main-section {
  background-image: url(../img/main-sect-background-mob.jpg);
  padding-top: 88px;
}
@media (min-width: 1440px) {
  .main-section {
    background-image: url(../img/main-sect-background-web.jpg);
    padding-top: 152px;
    padding-left: 0;
    background-position-y: bottom -1px;
  }
}

.benefits {
  padding-bottom: 0;
}
.container.container-benefits {
  padding-bottom: 0;
}
.main-section-wrapper-mob {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 20px;
  //   align-items: center;
}
@media (min-width: 1440px) {
  .main-section-wrapper-mob {
    display: none;
  }
}

.title {
  text-transform: uppercase;
  font: 400 28px 'Rubik Mono One', sans-serif;
  letter-spacing: 0.2em;
  // text-transform: lowercase;
  color: #fff;
  margin-bottom: 40px;
}
@media (min-width: 1440px) {
  .title {
    font-size: 54px;
    margin-bottom: 70px;
    align-self: flex-start;
  }
}

.main-content {
  display: flex;
  //   gap: 25px;
  justify-content: space-between;
  padding-left: 5px;
  margin-bottom: 12px;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-end;
  margin-bottom: 28px;
  align-items: center;
}

.google-play {
  background-image: url(../img/google-play.png);
  width: 126px;
  height: 36px;
  background-size: cover;
}
@media (min-resolution: 192dpi) {
  .google-play {
    background-image: url('../img/google-play@2x.png');
  }
}
.google-play:hover,
.google-play:active {
  background-image: url(../img/google-play-black.png);
}
@media (min-width: 1440px) {
  .google-play {
    width: 180px;
    height: 52px;
    margin-bottom: 100px;
  }
}

.benefits {
  align-self: center;
}

.main-section-wrapper-web {
  display: none;

  flex-direction: column;
  // padding-top: 10px;
  padding-bottom: 20px;
  //   align-items: center;
}
@media (min-width: 1440px) {
  .main-section-wrapper-web {
    display: flex;
    gap: 129px;
    padding-bottom: 106px;
  }
}

.main-content-web {
  display: flex;
  gap: 241px;
}

.left-web {
  display: flex;
  flex-direction: column;
}

.rite-web {
  padding-top: 16px;
}

.disclaimer {
  background-image: url(../img/disclaimer.png);
  width: 1280px;
  height: 152px;
  padding: 37px 54px;
  background-size: cover;
  font: 400 22px 'Roboto', sans-serif;
  text-align: justify;
  color: #120c0c;
  text-transform: uppercase;
}
