@import './header.scss';
@import './main-section.scss';
@import './about.scss';
@import './how-to-play.scss';
@import './advantages.scss';
@import './faq.scss';
@import './gallery.scss';
@import './footer.scss';
@import './privacy-policy.scss';
@import './terms-of-use.scss';

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  max-width: 100%;
  background-color: #715ca8;
}

.hidding {
  overflow: hidden;
}

ul,
ol {
  list-style-type: none;
  padding: 10px;
}

h1,
h2 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding: 0;
}

p {
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
}

button {
  cursor: pointer;
}

section {
  padding: 0 5px;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 13px 40px;
}

.footer {
  // background-image: url(../img/footer-background-mob.png);
  background: linear-gradient(180deg, #7d2a8e 0%, #d865b5 50%, #be38dd 100%);
  position: relative;
}

.footer::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-50%);
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 80px;
  }

  .footer {
    background: linear-gradient(180deg, #7d2a8e 0%, #d865b5 50%, #be38dd 100%);
  }
}
