@import './header.scss';
@import './main-section.scss';
@import './about.scss';
@import './how-to-play.scss';
@import './advantages.scss';
@import './faq.scss';
@import './gallery.scss';
@import './footer.scss';
@import './privacy-policy.scss';
@import './terms-of-use.scss';

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  background-color: violet;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  max-width: 100%;
}

ul,
ol {
  list-style-type: none;
  padding: 10px;
}

h1,
h2 {
  padding: 10px 0;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
}

button {
  cursor: pointer;
}

section {
  padding: 5px;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 13px 40px;
}

.all-wrap {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.6),
      rgba(46, 47, 66, 0.2)
    ),
    url(../img/how-play-background-mob.png);
  background-size: cover;
}

.footer {
  background-image: url(../img/footer-background-mob.png);
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .all-wrap {
    background-image: url(../img/about-sect-background-mob-2x.png);
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 80px;
  }

  .all-wrap {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.6),
        rgba(46, 47, 66, 0.2)
      ),
      url(../img/how-play-background-web.png);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .all-wrap {
      background-image: url(../img/how-play-background-web-2x.png);
    }
  }

  .footer {
    background-image: url(../img/footer-background-web.png);
  }
}
