@import './header.scss';
@import './main-section.scss';
@import './about.scss';
@import './how-to-play.scss';
@import './advantages.scss';
@import './faq.scss';
@import './gallery.scss';
@import './footer.scss';

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  background-color: violet;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  max-width: 100%;
  padding: 5px;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 10px 0;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

p {
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
}

button {
  cursor: pointer;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 13px;
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 80px;
  }
}
